@using System.Net.Mime
@using MyFace.Models.Database
@using MyFace.Models.Request
@{
    Layout = "_Layout";

    var postRequest = new CreatePostRequestModel();

    
    
    <header><h1>Create Post</h1></header>
    <form asp-controller="Posts" asp-action="CreatePost" method="post">

        <div class="userInputSection">
            <label for="Message">What would you like to say?</label>
            <br>
            <textarea name="Message" id="Message"></textarea>
            <br>
        </div>
        <div class="userInputSection">
            <label for="ImgURL">Enter Image URL:</label>
            <br>
            <input name="ImageUrl" type="text" id="ImgURL">
            <br>
        </div>
        <div class="userInputSection">
            <label for="UserId">Enter User ID:</label>
            <br>
            <input name="UserId" type="text" id="UserId">
            <br>
        </div>
        <button class="submit" type="submit">Submit new post</button>
     </form>
    
}