@using System.Net.Mime
@using MyFace.Models.Database
@using MyFace.Models.Request
@{
    Layout = "_Layout";

    var postRequest = new CreatePostRequestModel();

    
    
    <header><h1>Create Post</h1></header>
    <form asp-controller="Posts" asp-action="CreatePost" method="post">
     
         <label for="Message">Enter Message:</label>
         <textarea name="Message" id="Message" rows="4" cols="50"></textarea>
         
         <label for="ImgURL">Enter Image URL:</label>
         <input name="ImageUrl" type="text" id="ImgURL">
         
         <label for="UserId">Enter User ID:</label>
         <input name="UserId" type="text" id="UserId">
         
         <button type="submit">Submit new post</button>
     </form>
    
}