<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MyFace</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MyFace</a>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="PostsPage">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="UsersPage">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="CreatePostPage">Create</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="postContainer">
    <main role="main" class="pb-3">
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form asp-controller="Posts" asp-action="CreatePost" method="post">

                    <div class="userInputSection">
                        <label for="Message">What would you like to say?</label>
                        <br>
                        <textarea name="Message" id="Message"></textarea>
                        <br>
                    </div>
                    <div class="userInputSection">
                        <label for="ImgURL">Enter Image URL:</label>
                        <br>
                        <input name="ImageUrl" type="text" id="ImgURL">
                        <br>
                    </div>
                    <div class="userInputSection">
                        <label for="UserId">Enter User ID:</label>
                        <br>
                        <input name="UserId" type="text" id="UserId">
                        <br>
                    </div>
                    <button class="submit" type="submit">Submit new post</button>
                </form>
            </div>
        </div>

        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - MyFace <a class="footerLink" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>