body {
    font-family: sans-serif;
    margin: 0;
}

nav {
    padding: 10px 16px;
    background-color: #003366;
}

.container {
    display: flex; 
    justify-content: space-between;
}

a.navbar-brand {
    font-family: 'Squada One', cursive;
    padding: 1px;
    text-decoration: none;
    color: white;
    font-size: 27px;
    align-self: center;
}


ul.pageContent {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-item {
    float: right;
    font-size: 12px;
    list-style: none;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 2px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
    color: #fff;
}

h1 {
    text-align: center;
    
    padding: 38px;
    font-size: 2em;
    color: white;
    background-color: #003366;
}

.post {
    display: inline-block;
}

img.userImage {
    border-radius: 50%;
}

main {
    text-align: center;
}

.postContainer {
    display: flex;
    flex-direction: column;
}

input{
    margin: 0px;
    border-radius: 4px;
    border: 2px solid black;
}
textarea#Message {
    margin: 0px;
    width: 274px;
    height: 65px;
    border-radius: 4px;
    border: 2px solid black;
}

.submit{
    padding: 4px;
    margin: 10px;
}

.userInputSection{
    padding: 5px;
    margin: 2px;
}

footer {
    background-color: #003366;
    color: white;
    padding: 10px 15px;
}

a.footerLink {
     text-decoration: none;
     color: #fff;
     float: right;
 }

a.footerLink:hover {
    text-decoration: underline;
    color: #fff;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*@media(min-width: ){
    !*change ul in navbar into a hamburger to store all li *!
    
}*/

@media (min-width: 500px) {
    h1 {
        padding: 75px;
        font-size: 3em; 
    }

    .nav-link {
        float: right;
        font-size: 16px;
    }

    input{
        width: 300px;
    }
}

@media (min-width: 1500px) {
   .pageContent{
       width: 1370px;
       display: inline-block;
   }
}





    
