body {
    font-family: sans-serif;
}

nav {
    padding: 10px 16px;
    background-color: #003366;
}

a.navbar-brand {
    font-family: 'Squada One', cursive;
    float: left;
    padding: 1px;
    overflow: hidden;
    text-decoration: none;
    color: white;
    font-size: 32px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003366;
}

li {
    float: right;
    font-size: 16px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
    color: #fff;
}

h1 {
    text-align: center;
    
    padding: 38px;
    font-size: 2em;
    color: white;
    background-color: #003366;
}

.post {
    display: inline-block;
}

img.userImage {
    border-radius: 50%;
}

main {
    text-align: center;
}

.postContainer {
    display: flex;
    flex-direction: column;
}

div.container {
    
}
footer {
    background-color: #003366;
    color: white;
    padding: 10px 15px;
}

a.footerLink {
     text-decoration: none;
     color: #fff;
     float: right;
 }

a.footerLink:hover {
    text-decoration: underline;
    color: #fff;
}

@media (min-width: 500px) {
    h1 {
        padding: 75px;
        font-size: 3em; 
    }
}

@media (min-width: 1600px) {
   .pageContent{
       width: 80%;
       display: inline-block;
   }
}





    
